body{
    background-image: url("https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg");
}
li {
    color: cornsilk;
}
h {
    color:aliceblue;
}
table {
    color: aliceblue;
}
h {
    font-family: fantasy;
}
a {
    color:aliceblue;
}
p {
    text-align: center;
}
p {
    color: aliceblue;
}
form {
    color: aliceblue;
}
