body {
    background-color: bisque;
}
.image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
p {
    color:coral;
}
legend {
    color: chocolate;
}
p{
    text-decoration: underline;
}
footer :hover{
    text-decoration: none;
}